{% extends "base.html" %}

{% block title %}Gift Codes - Kingshot Bot{% endblock %}

{% block content %}
<h1>Gift Code Status</h1>
<table>
    <thead>
        <tr>
            <th>Gift Code</th>
            <th>Date Added</th>
            <th>Redemption Status</th>
        </tr>
    </thead>
    <tbody>
        {% for code in all_codes %}
        <tr>
            <td>{{ code.giftcode }}</td>
            <td>{{ code.date }}</td>
            <td>
                {% if code.giftcode in redemption_map %}
                    <ul>
                        {% for redemption in redemption_map[code.giftcode] %}
                            <li>{{ redemption.nickname }} ({{ redemption.fid }}): {{ redemption.status }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <em>Not yet redeemed by anyone.</em>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
